body {
    overflow: hidden;
    overflow-x: hidden;

}
.out {
    overflow: scroll;
    overflow-x: hidden;
    height: 80vh;
}
.drawings {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 25px;
    
}

.drawing:hover {
    transform: scale(1.1);
}
.drawing img {
    width: 400px;
    border-radius: 10px;
}

.drawing {
    padding: 12px;
	background-color: rgba(7, 20, 36, 0.589);
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #e66b6b63;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
