h1 {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-size: 48px;
    transition: all .24s ease-in-out;
    
}

.tabla {
	background-color: rgba(57, 95, 221, 0);
	backdrop-filter: blur(16px);
	width: 100%;
	height: 375px;
    margin-top: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
    z-index: -1;
	bottom: -800px;
	border-radius: .4rem;
}

.tabla .card:hover{
    transform: scale(1.2)!important;
}

h2:hover{ 
    transform: scale(1.3);
    color: #3d7fdc;
    font-weight: 200;
}

h1:hover {
    transform: scale(1.3);
    color: #3d7fdc;
    font-weight: 400;
}
.tabla ul {
	text-align: center;
	padding: 14px;
	border-radius: .4rem;
	margin: 0;
	height: 280px;
	width: 320px;
	backdrop-filter: blur(8px);
}

.tabla ul li {
	text-decoration: none;
	list-style: none;
	letter-spacing: 3px;
}

.tabla * {
	transition: all .25s cubic-bezier(0, -0.96, 0.17, 1.06);
	text-align: center;
}

h2 {
	text-align: center;
}

ul li:hover{
    transform: scale(1.5);
}