.cards {
	width: 400px;
	background-color: rgba(7, 20, 36, 0.589);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 12px;
	transform: scale(.8);
	transition: all .15s cubic-bezier(0, -0.96, 0.17, 1.06);
	font-family: 'Sora';
	padding: 10px;
	filter: blur(.3px);
	border: 3px solid #6b9ee6;
    margin-top: 40px;
}

.cards:hover {
	transform: scale(1);
	background-color: rgba(7, 20, 36, 0.589);
	border: 4px solid #6b9ee6;
	filter: blur(0px);


}

p {
	margin: 0;
	padding-bottom: 25px;
}

.cards img {
	margin-top: 20px;
	filter: blur(.3px);
	border-radius: 12px;
	transition: all .25s cubic-bezier(0, -0.96, 0.17, 1.06);
}

.cards img:hover {
	transform: scale(1.15);
	filter: blur(0px);
}

.cards h1 {
	transition: all .25s cubic-bezier(0, -0.96, 0.17, 1.06);
}

.cards h1:hover {
	transform: scale(1.05);
}

.cards p {
	transition: all .25s cubic-bezier(0, -0.96, 0.17, 1.06);
}

.cards p:hover {
	transform: scale(1.05);
}

.cardgroup {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.cards a {
	color: rgb(131, 216, 255);
    text-decoration: none;
}